x-app-card {
	display: block;
	padding: 1rem;
	max-width: 450px;
	text-align: center;
	border-radius: 0.5rem;
	border: 2px solid rgb(255 255 255 / 20%);
	box-sizing: border-box;
}

x-app-card .app-name {
	margin: 0;
	margin-bottom: 1rem;
}

x-app-card .app-logo {
	height: 100px;
	max-width: 100%;
}

x-app-card .app-actions.display-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}