@import './components/AppCard.css';

html {
	color-scheme: dark;
}

body {
	margin: auto;
	padding: 0 1rem;
	background-color: var(--color-background-primary);
	color: var(--color-text-secondary);
	max-width: 8.5in;
	font-family: system-ui;
	line-height: 1.5;
	box-sizing: border-box;
}

footer {
	margin: 3rem auto;
	color: var(--color-text-tertiary);
}

h1,
h2,
h3 {
	color: var(--color-text-primary);
}